.P_main_container{
    margin-top: 15px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    height: 90vh ;
}

@media screen and (max-height: 520px) {
    .P_response_container{
        min-height: 470px;
        /* height: 15% !important; */
    }
    .P_margin_zero{
        margin-top: 0px;
    }
    .P_margin_piec{
        margin-top: 5px;
    }
}
@media screen and (min-height: 520px) {

    .P_margin_45{
        margin-top: 45px;
    }
    .P_margin_30{
        margin-top: 30px;
    }
}



    